@import url('variables.css');
.container_mantel{
    background: url('../img/mantel.jpg') bottom center scroll;
    box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
    padding: -10;
    margin: -10;
    height: 60vh;
    max-width: 100%;
    max-height: 653px;
}
.container_card_espera{
    height: calc(40vh/5);
    width: 100%;
    padding-top: 1rem;
}
.card_activa{
    margin:10px;
    height: 90%;
    width: 90%;
    font-size: x-large;
}
.card_espera{
    width: 180px;
    font-size: large;
}
.img_filosofo_activa{
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
    width: 100%;
}
.img_filosofo_esperaa{
    object-fit: cover;
    object-position: 0 0;
    height: 100%;
    width: calc(60vw/5);
}
.comedor{
    height: 100%;
    width: 100%;
}
.palillo{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.plato{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .card_activa{
        margin-top: 10%;
        height: 90%;
        width: 90%;
        font-size: x-large;
    }
    .card_espera{
        width: 180px;
        font-size: large;
    }
    .img_filosofo_activa{
        object-fit: cover;
        object-position: 0 0;
        height: 100%;
        width: 100%;
    }
    .img_filosofo_esperaa{
        object-fit: cover;
        object-position: 0 0;
        height: 100%;
        width: calc(60vw/5);
    }
    .comedor{
        height: 100%;
        width: 100%;
    }
    .palillo{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .plato{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}